@{
    ViewData["Title"] = "About Us";
}

<!--====== ABOUT PART START ======-->
<section class="about-section pt-115 pb-115">
    <div class="container">
        <div class="video-wrap video-wrap-two video-about mb-60" style="background-image: url(../assets/img/text-block/04.jpg);">
            <a href="http://www.youtube.com/embed/watch?v=EEJFMdfraVY" class="popup-video">
                <i class="fas fa-play"></i>
            </a>
        </div>
        <div class="section-title about-title text-center">
            <span class="title-tag"><i class="fa-solid fa-shield-dog"></i></i>Pet Daycare</span>
            <h2>Hello. Our hotel has been present for over 20 years. We make the best or all <span class="highlight">our customers.</span></h2>
        </div>
        <ul class="about-features">
            <li class="wow fadeInUp" data-wow-delay=".3s">
                <a href="#">
                    <i class="fa-solid fa-bowl-food"></i>
                    <i class="hover-icon fa-solid fa-bowl-food"></i>
                    <span class="title">Premium Pet Food</span>
                </a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".4s">
                <a href="#">
                    <i class="fa-solid fa-house"></i>
                    <i class="hover-icon fa-solid fa-house"></i>
                    <span class="title">Comfortable Shelter</span>
                </a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".5s">
                <a href="#">
                    <i class="fa-solid fa-cat"></i>
                    <i class="hover-icon fa-solid fa-cat"></i>
                    <span class="title">Professional Pet Care</span>
                </a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".6s">
                <a href="#">
                    <i class="fa-solid fa-baseball"></i>
                    <i class="hover-icon fa-solid fa-baseball"></i>
                    <span class="title">Entertaining Toys</span>
                </a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".7s">
                <a href="#">
                    <i class="fa-solid fa-scissors"></i>
                    <i class="hover-icon fa-solid fa-scissors"></i>
                    <span class="title">Professional Grooming Services</span>
                </a>
            </li>
        </ul>

        <div class="about-text-box">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="~/assets/img/text-block/05.jpg" alt="images">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text">
                        <span>Services</span>
                        <h3>Get Services Facilities & Many Other More</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                        </p>
                        <a href="#" class="main-btn btn-filled">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== ABOUT PART END ======-->
<!--====== CORE FEATURES START ======-->
<section class="core-feature-section bg-black pt-115 pb-115">
    <div class="container">
        <div class="section-title white-color text-center mb-50">
            <span class="title-tag text-white"><i class="fa-solid fa-shield-dog"></i> facilities </span>
            <h2>Our <span class="highlight">Services</span></h2>
        </div>
        <!-- Featre Loop -->
        <div class="row features-loop">
            <div class="col-lg-4 col-sm-6 order-1">
                <div class="feature-box dark-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="icon">
                        <i class="fa-solid fa-scissors"></i>
                    </div>
                    <h3><a href="#">Pet Grooming</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                    </p>
                    <span class="count">01</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 order-2">
                <div class="feature-box dark-box wow fadeInDown" data-wow-delay=".4s">
                    <div class="icon">
                        <i class="fa-solid fa-shower"></i>
                    </div>
                    <h3><a href="#">Pet Shower</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                    </p>
                    <span class="count">02</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 order-3 order-sm-4 order-lg-3">
                <div class="feature-box dark-box wow fadeInRight" data-wow-delay=".5s">
                    <div class="icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <h3><a href="#">Best Locations</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                    </p>
                    <span class="count">03</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 order-4 order-sm-3 order-lg-4">
                <div class="feature-box dark-box wow fadeInLeft" data-wow-delay=".6s">
                    <div class="icon">
                        <i class="fa-solid fa-baseball"></i>
                    </div>
                    <h3><a href="#">Free Onboarding</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                    </p>
                    <span class="count">04</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 order-5">
                <div class="feature-box dark-box wow fadeInUp" data-wow-delay=".7s">
                    <div class="icon">
                        <i class="fa-solid fa-shield-dog"></i>
                    </div>
                    <h3><a href="#">Pet Vet</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                    </p>
                    <span class="count">05</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 order-6">
                <div class="feature-box dark-box wow fadeInRight" data-wow-delay=".8s">
                    <div class="icon">
                        <i class="fa-solid fa-paw"></i>
                    </div>
                    <h3><a href="#">Pet Rescue</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                    </p>
                    <span class="count">06</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== CORE FEATURES END ======-->
<!--====== COUNTER UP START ======-->
<section class="counter-section pt-115">
    <div class="container">
        <!-- Section Title -->
        <div class="section-title mb-80">
            <span class="title-tag"><i class="fa-solid fa-shield-dog"></i>COUNTER</span>
            <h2>Some Fun <span class="highlight">Facts</span></h2>
        </div>
        <!-- Counter -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-6">
                <div class="counter-box counter-box-two">
                    <div class="icon">
                        <i class="bi bi-person-hearts"></i>
                    </div>
                    <h4><span class="counter">8000</span></h4>
                    <span class="title is-grey">Happy Users</span>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="counter-box counter-box-two">
                    <div class="icon">
                        <i class="fa-solid fa-dog"></i>
                    </div>
                    <h4><span class="counter">10</span>M</h4>
                    <span class="title is-grey">Pets Treated</span>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="counter-box counter-box-two">
                    <div class="icon">
                        <i class="bi bi-award-fill"></i>
                    </div>
                    <h4><span class="counter">100</span></h4>
                    <span class="title is-grey">Awards Won</span>
                </div>
            </div>
        </div>
        <!-- Gallery -->
        <div class="row mb-50">
            <div class="col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="image mt-30">
                    <img src="~/assets/img/gallery/09.jpg" alt="image">
                </div>
            </div>
            <div class="col-sm-6 wow fadeInUp" data-wow-delay=".5s">
                <div class="image mt-30">
                    <img src="~/assets/img/gallery/10.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== COUNTER UP END ======-->
