<section class="about-section pt-115 pb-115">
    <div class="container">
        <h4>Payment is successful</h4>
        <a asp-controller="Home" asp-action="Index">Return to home page</a>
    </div>
</section>