@{
    ViewData["Title"] = "Services";
}

<!--====== SERVICE PART START ======-->
<section class="services-tab-area pt-120 pb-90">
    <div class="container">
        <ul class="services-rood-list row justify-content-center nav nav-pills mb-30" id="services-tab" role="tablist">
            <li class="nav-item col-lg-2 col-md-3 col-sm-4 col-6">
                <a class="nav-link" data-toggle="pill" href="#chicken">
                    <i class="fa-solid fa-scissors"></i>
                    <span class="title">Pet Grooming</span>
                </a>
            </li>
            <li class="nav-item col-lg-2 col-md-3 col-sm-4 col-6">
                <a class="nav-link active" data-toggle="pill" href="#italian">
                    <i class="fa-solid fa-shower"></i>
                    <span class="title">Pet Shower</span>
                </a>
            </li>
            <li class="nav-item col-lg-2 col-md-3 col-sm-4 col-6">
                <a class="nav-link" data-toggle="pill" href="#coffee">
                    <i class="fa-solid fa-shield-dog"></i>
                    <span class="title">Pet Vet</span>
                </a>
            </li>
            <li class="nav-item col-lg-2 col-md-3 col-sm-4 col-6">
                <a class="nav-link" data-toggle="pill" href="#bake-cake">
                    <i class="fa-solid fa-baseball"></i>
                    <span class="title">Onboarding</span>
                </a>
            </li>
            <li class="nav-item col-lg-2 col-md-3 col-sm-4 col-6">
                <a class="nav-link" data-toggle="pill" href="#cokkies">
                    <i class="fa-solid fa-cat"></i>
                    <span class="title">Pet Care</span>
                </a>
            </li>
            <li class="nav-item col-lg-2 col-md-3 col-sm-4 col-6">
                <a class="nav-link" data-toggle="pill" href="#coctail">
                    <i class="fa-solid fa-paw"></i>
                    <span class="title">Pet Rescue</span>
                </a>
            </li>
        </ul>
        <!-- tab content -->
        <div class="tab-content " id="services-tabContent">
            <div class="tab-pane fade" id="italian" role="tabpanel">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/01.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">Chicken</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/02.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">Chicken</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/03.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">Chicken</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/04.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">Chicken</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="chicken" role="tabpanel">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/01.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">italian food</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/02.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">italian food</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/03.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">italian food</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/04.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">italian food</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade " id="coffee" role="tabpanel">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/01.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">coffee</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/02.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">coffee</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/03.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">coffee</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/04.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">coffee</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade " id="bake-cake" role="tabpanel">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/01.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">bake cake</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/02.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">bake cake</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/03.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">bake cake</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/04.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">bake cake</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade " id="cokkies" role="tabpanel">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/01.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">cokkies</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/02.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">cokkies</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/03.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">cokkies</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/04.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">cokkies</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade " id="coctail" role="tabpanel">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/01.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">coctail</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/02.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">coctail</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/03.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">coctail</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="food-box">
                            <div class="thumb">
                                <img src="~/assets/img/services/04.jpg" alt="images">
                                <span class="price">$90</span>
                            </div>
                            <div class="desc">
                                <a href="#" class="cat">coctail</a>
                                <h4>4X Pan Pijja</h4>
                                <a href="#" class="link"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== SERVICE PART END ======-->
<!--====== MENU AREA START ======-->
<section class="menu-area gradient-white pt-115 pb-115">
    <div class="container">
        <!-- Section Title -->
        <div class="section-title text-center mb-80">
            <span class="title-tag"><i class="fa-solid fa-shield-dog"></i></i>available</span>
            <h2>Treanding <span class="highlight">Menu</span></h2>
        </div>
        <!-- Menu Looop -->
        <div class="menu-loop">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="single-menu-box hover-drak wow fadeInUp" data-wow-delay=".3s">
                        <div class="menu-img" style="background-image: url(../assets/img/menu/01.jpg);">
                        </div>
                        <div class="menu-desc">
                            <h4><a href="#">Eggs & Bacon</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
                            </p>
                            <a href="#" class="menu-link"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="single-menu-box hover-drak wow fadeInUp" data-wow-delay=".4s">
                        <div class="menu-img" style="background-image: url(../assets/img/menu/02.jpg);">
                        </div>
                        <div class="menu-desc">
                            <h4><a href="#">Tea or Coffee</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
                            </p>
                            <a href="#" class="menu-link"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="single-menu-box hover-drak wow fadeInUp" data-wow-delay=".5s">
                        <div class="menu-img" style="background-image: url(../assets/img/menu/03.jpg);">
                        </div>
                        <div class="menu-desc">
                            <h4><a href="#">Chia Oatmeal</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
                            </p>
                            <a href="#" class="menu-link"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="single-menu-box hover-drak wow fadeInUp" data-wow-delay=".6s">
                        <div class="menu-img" style="background-image: url(../assets/img/menu/04.jpg);">
                        </div>
                        <div class="menu-desc">
                            <h4><a href="#">Juice</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
                            </p>
                            <a href="#" class="menu-link"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="single-menu-box hover-drak wow fadeInUp" data-wow-delay=".7s">
                        <div class="menu-img" style="background-image: url(../assets/img/menu/05.jpg);">
                        </div>
                        <div class="menu-desc">
                            <h4><a href="#">Chia Oatmeal</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
                            </p>
                            <a href="#" class="menu-link"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10">
                    <div class="single-menu-box hover-drak wow fadeInUp" data-wow-delay=".3s">
                        <div class="menu-img" style="background-image: url(../assets/img/menu/06.jpg);">
                        </div>
                        <div class="menu-desc">
                            <h4><a href="#">Fruit Parfait</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
                            </p>
                            <a href="#" class="menu-link"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="single-menu-box hover-drak wow fadeInUp" data-wow-delay=".4s">
                        <div class="menu-img" style="background-image: url(../assets/img/menu/07.jpg);">
                        </div>
                        <div class="menu-desc">
                            <h4><a href="#">Marmalade Selection</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
                            </p>
                            <a href="#" class="menu-link"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="single-menu-box hover-drak wow fadeInUp" data-wow-delay=".5s">
                        <div class="menu-img" style="background-image: url(../assets/img/menu/08.jpg);">
                        </div>
                        <div class="menu-desc">
                            <h4><a href="#">Cheese Platen</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
                            </p>
                            <a href="#" class="menu-link"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="single-menu-box hover-drak wow fadeInUp" data-wow-delay=".6s">
                        <div class="menu-img" style="background-image: url(../assets/img/menu/09.jpg);">
                        </div>
                        <div class="menu-desc">
                            <h4><a href="#">Avocado Toast</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
                            </p>
                            <a href="#" class="menu-link"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="single-menu-box hover-drak wow fadeInUp" data-wow-delay=".7s">
                        <div class="menu-img" style="background-image: url(../assets/img/menu/10.jpg);">
                        </div>
                        <div class="menu-desc">
                            <h4><a href="#">Avocado Toast</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
                            </p>
                            <a href="#" class="menu-link"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== MENU AREA END ======-->